<a href="https://colab.research.google.com/github/pstorniolo/Master2021/blob/main/2021_10_21_Hadoop_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install java
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

In [2]:
#Install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz

In [3]:
#Unzip the spark file to the current folder
!tar xf spark-3.2.0-bin-hadoop3.2.tgz

In [4]:
!cd spark-3.2.0-bin-hadoop3.2; ls -la

total 160
drwxr-xr-x 13 1000 1000  4096 Oct  6 13:18 .
drwxr-xr-x  1 root root  4096 Oct 23 15:41 ..
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 bin
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 conf
drwxr-xr-x  5 1000 1000  4096 Oct  6 13:18 data
drwxr-xr-x  4 1000 1000  4096 Oct  6 13:18 examples
drwxr-xr-x  2 1000 1000 16384 Oct  6 13:18 jars
drwxr-xr-x  4 1000 1000  4096 Oct  6 13:18 kubernetes
-rw-r--r--  1 1000 1000 22878 Oct  6 13:18 LICENSE
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 licenses
-rw-r--r--  1 1000 1000 57677 Oct  6 13:18 NOTICE
drwxr-xr-x  9 1000 1000  4096 Oct  6 13:18 python
drwxr-xr-x  3 1000 1000  4096 Oct  6 13:18 R
-rw-r--r--  1 1000 1000  4512 Oct  6 13:18 README.md
-rw-r--r--  1 1000 1000   167 Oct  6 13:18 RELEASE
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 sbin
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 yarn

In [5]:
!cd spark-3.2.0-bin-hadoop3.2/bin; ls -la

total 124
drwxr-xr-x  2 1000 1000  4096 Oct  6 13:18 .
drwxr-xr-x 13 1000 1000  4096 Oct  6 13:18 ..
-rwxr-xr-x  1 1000 1000  1089 Oct  6 13:18 beeline
-rw-r--r--  1 1000 1000  1064 Oct  6 13:18 beeline.cmd
-rwxr-xr-x  1 1000 1000 10965 Oct  6 13:18 docker-image-tool.sh
-rwxr-xr-x  1 1000 1000  1935 Oct  6 13:18 find-spark-home
-rw-r--r--  1 1000 1000  2685 Oct  6 13:18 find-spark-home.cmd
-rw-r--r--  1 1000 1000  2337 Oct  6 13:18 load-spark-env.cmd
-rw-r--r--  1 1000 1000  2435 Oct  6 13:18 load-spark-env.sh
-rwxr-xr-x  1 1000 1000  2636 Oct  6 13:18 pyspark
-rw-r--r--  1 1000 1000  1542 Oct  6 13:18 pyspark2.cmd
-rw-r--r--  1 1000 1000  1170 Oct  6 13:18 pyspark.cmd
-rwxr-xr-x  1 1000 1000  1030 Oct  6 13:18 run-example
-rw-r--r--  1 1000 1000  1223 Oct  6 13:18 run-example.cmd
-rwxr-xr-x  1 1000 1000  3539 Oct  6 13:18 spark-class
-rwxr-xr-x  1 1000 1000  2812 Oct  6 13:18 spark-class2.cmd
-rw-r--r--  1 1000 1000  1180 Oct  6 13:18 spark-class.cmd
-rwxr-xr-x  1 1000 1000  1039 Oct  6 13:18 sparkR
-rw-r--r--  1 1000 1000  1097 Oct  6 13:18 sparkR2.cmd
-rw-r--r--  1 1000 1000  1168 Oct  6 13:18 sparkR.cmd
-rwxr-xr-x  1 1000 1000  3122 Oct  6 13:18 spark-shell
-rw-r--r--  1 1000 1000  1818 Oct  6 13:18 spark-shell2.cmd
-rw-r--r--  1 1000 1000  1178 Oct  6 13:18 spark-shell.cmd
-rwxr-xr-x  1 1000 1000  1065 Oct  6 13:18 spark-sql
-rw-r--r--  1 1000 1000  1118 Oct  6 13:18 spark-sql2.cmd
-rw-r--r--  1 1000 1000  1173 Oct  6 13:18 spark-sql.cmd
-rwxr-xr-x  1 1000 1000  1040 Oct  6 13:18 spark-submit
-rw-r--r--  1 1000 1000  1155 Oct  6 13:18 spark-submit2.cmd
-rw-r--r--  1 1000 1000  1180 Oct  6 13:18 spark-submit.cmd

In [4]:
#Set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

In [5]:
#Spark for Python (pyspark)
!pip install -q pyspark==3.2.0

     |████████████████████████████████| 281.3 MB 39 kB/s
     |████████████████████████████████| 198 kB 13.4 MB/s
  Building wheel for pyspark (setup.py) ... done

In [6]:
#importing pyspark
import pyspark

In [7]:
#importing sparksession
from pyspark.sql import SparkSession

In [8]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("local").getOrCreate()

In [9]:
#printing the version of spark
print("Apache Spark version: ", spark.version)

Apache Spark version:  3.2.0

In [10]:
!rm -f *.tgz* ; ls -la

total 20
drwxr-xr-x  1 root root 4096 Oct 23 15:46 .
drwxr-xr-x  1 root root 4096 Oct 23 15:42 ..
drwxr-xr-x  4 root root 4096 Oct  8 13:44 .config
drwxr-xr-x  1 root root 4096 Oct  8 13:45 sample_data
drwxr-xr-x 13 1000 1000 4096 Oct  6 13:18 spark-3.2.0-bin-hadoop3.2

In [11]:
from random import randint 

# create a list of random numbers between 10 to 1000
my_large_list = [randint(10,1000) for x in range(0,20000000)]

In [12]:
# create one partition of the list  
my_large_list_one_partition = spark.sparkContext.parallelize(my_large_list,numSlices=1)

# check number of partitions
print(my_large_list_one_partition.getNumPartitions())

# filter numbers greater than equal to 200
my_large_list_one_partition = my_large_list_one_partition.filter(lambda x : x >= 200)

# count the number of elements in filtered list
print(my_large_list_one_partition.count())

1
16165378

In [13]:
# create five partitions of the list
my_large_list_with_five_partition = spark.sparkContext.parallelize(my_large_list, numSlices=5)

# filter numbers greater than equal to 200
my_large_list_with_five_partition = my_large_list_with_five_partition.filter(lambda x : x >= 200)

# count the number of elements in the filtered list
print(my_large_list_with_five_partition.count())

16165378

In [15]:
# create a sample list
my_list = [i for i in range(1,10000000)]

# parallelize the data
rdd_0 = spark.sparkContext.parallelize(my_list,3)

rdd_0.take(10)

# add value 4 to each number
rdd_1 = rdd_0.map(lambda x: x + 4)

# RDD object
print(rdd_1)
rdd_1.take(10)

PythonRDD[9] at RDD at PythonRDD.scala:53

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]